# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
/target/*
target

# Misc Files #
##############
.classpath
.project
.settings/*
.DS_Store
*/.settings/*
.springbeans
${sys:log_dir}
