body {
	background-color: #efefef;
}

span.spacing {
	margin-right: 10px;
	margin-bottom: 10px;
}

input.custom-width {
	width: 200px;
}

input.spacing {
	margin-right: 5px;
}

#map {
	height: 600px;
	width: 100%;
}

#errorMessage {
	color: red;
	padding-bottom: 10px;
}